<!--div>
    <app-sort></app-sort>
    <app-filter></app-filter>
    <div *ngFor="let item of shoppingList | async">
        <span>{{ item.name }}</span>
        <span>{{ item.price | currency }}</span>
        <button (click)="addToCart(item)">
            Add to cart
        </button>
    </div>
</div>-->
<!--<app-sort></app-sort>
<app-filter></app-filter>
    <div class="container shopContainter mt-3">
            <div  class="row">
                <div *ngFor="let item of shoppingList | async" class="col-lg-4 col-md-6 col-xl-3">
                    <div class="thumbnail" >
                            <h4 class="text-center"><span class="label label-info">Samsung</span></h4>
                            <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-fluid">
                            <div>
                                <div class="col-md-6 col-xs-6">
                                    <h3>{{ item.name }}</h3>
                                </div>
                                <div class="col-md-6 col-xs-6 price">
                                    <h3><label>{{ item.price | currency }}</label></h3>
                                </div>
                            </div>
                            <p>32GB, 2GB Ram, 1080HD, 5.1 inches, Android</p>
                            <div>
                                <div class="col-md-6 col-xs-6 price">
                                        <button (click)="addToCart(item)">
                                                Add to cart
                                            </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="container shopContainter">
                        <div class="col-md-6 h-marTop">
                            <div class="dropdown float-right">
                                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Sort
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <li><a href="#">Price- High Low</a></li>
                                <li><a href="#">Price- Low High</a></li>
                                <li><a href="#">Discount</a></li>
                                </ul>
                        </div></div>
                        <div class="col-md-6 h-marTop">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Filter
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <li><a href="#">Price- High Low</a></li>
                                <li><a href="#">Price- Low High</a></li>
                                <li><a href="#">Discount</a></li>
                                </ul>
                        </div>
                    </div>
                <div id="products" class="row list-group">
                    <div class="item  col-xs-12 col-lg-3" *ngFor="let item of shoppingList | async" >
                        <div class="thumbnail">
                            <div class="listImg">
                                    <!--<img class="group list-group-image" src="{{item.img_url}}" alt="" />-->
                                    <img src="http://lorempixel.com/500/600/technics" class="img-fluid">
                                    <p class="space">{{ item.category}}</p>
                            </div>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">{{ item.name }}</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                </p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">{{ item.price | currency }}<span class="text-success font-weight-bold"> {{item.discount}} off</span></p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a (click)="addToCart(item)" class="btn btn-success" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        });
    });
</script>